<div class="container-fluid">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vragenlijst</h5>
     <!--    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">

        <div class="well well-sm text-center">
          <p><b>Vraag 1</b></p> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id lorem consequat velit iaculis lobortis eu et dui. Vivamus malesuada eleifend nunc. Curabitur a fermentum lectus.</p>
          <div class="btn-group">
            <label class="btn btn-success active">
              1
              <br>
              <input type="radio" name="group1" autocomplete="off" checked>
            </label>
            <label class="btn btn-info">
              2
              <br>
              <input type="radio" name="group1" autocomplete="off">

            </label>
            <label class="btn btn-primary">
              3
              <br>
              <input type="radio" name="group1" autocomplete="off">

            </label>

            <label class="btn btn-warning">
              4
              <br>
              <input type="radio" name="group1" autocomplete="off">

            </label>

            <label class="btn btn-danger">
              5
              <br>
              <input type="radio" name="group1" autocomplete="off">

            </label>

          </div>

        </div>

        <hr>
        <div class="well well-sm text-center">
            <p><b>Vraag 2</b></p> 
            <p>Praesent efficitur, velit vel finibus efficitur, elit leo volutpat magna, a faucibus justo orci ut velit. Quisque rhoncus dignissim ex, a congue libero aliquam a.</p>
            <div class="btn-group">
              <label class="btn btn-success active">
                1
                <br>
                <input type="radio" name="group2" autocomplete="off" checked>
              </label>
              <label class="btn btn-info">
                2
                <br>
                <input type="radio" name="group2" autocomplete="off">
  
              </label>
              <label class="btn btn-primary">
                3
                <br>
                <input type="radio" name="group2" autocomplete="off">
  
              </label>
  
              <label class="btn btn-warning">
                4
                <br>
                <input type="radio" name="group2" autocomplete="off">
  
              </label>
  
              <label class="btn btn-danger">
                5
                <br>
                <input type="radio" name="group2" autocomplete="off">
  
              </label>
  
            </div>
  
          </div>

          <hr>


          <div class="well well-sm text-center">
              Etc..
          </div>
          




      </div>
      <div class="modal-footer">
        <button *ngIf="!testFinished" type="button" (click)="finishTest()" class="btn btn-secondary" data-dismiss="modal">Klaar met invullen</button>
        <br><div *ngIf="testFinished">Bedankt voor het invullen! <a [routerLink]="['/login']">Terug naar homepage</a></div>
      </div>
    </div>
  </div>
</div>
