<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Admin inlog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="">
          <h5 class="m-b-2">Wachtwoord</h5>

          <fieldset class="form-group has-danger">
            <label for="password" class="form-control-label">Vul hier het admin wachtwoord in:</label>
            <input [(ngModel)]="admnPwd" [ngModelOptions]="{standalone: true}" type="password" class="form-control form-control-danger"
              id="password">
          </fieldset>


          <button (click)="loginAttempt()" class="btn btn-primary btn-lg">Login</button>

        </form>
        <br>
        <div style='color:orangered' *ngIf="errorMsg == true">Geen geldig wachtwoord ingevuld
          <br>
          <code>Demo: goudvis</code>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-add" tabindex="-1" role="dialog" aria-labelledby="modal-add" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nieuwe groep toevoegen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="group_name_add" class="col-form-label">Groepnaam:</label>
            <input [(ngModel)]="groupName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="group_name_add">
          </div>
          <div class="form-group">
            <label for="paskey_add" class="col-form-label">Key:</label>
            <p>Deze sleutel wordt om in te loggen in deze groep</p>
            <input [(ngModel)]="pasKey" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="paskey_add">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
        <button type="button" (click)="makeGroup()" data-dismiss="modal" class="btn btn-primary">Toevoegen</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-edit" tabindex="-1" role="dialog" aria-labelledby="modal-edit" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bewerk groep</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="group_name_edit" class="col-form-label">Groepnaam:</label>
            <input [(ngModel)]="groupName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="group_name_edit">
          </div>
          <div class="form-group">
            <label for="paskey_edit" class="col-form-label">Key:</label>
            <p>Deze sleutel wordt gebruikt hoe mensen inloggen</p>
            <input [(ngModel)]="pasKey" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="paskey_edit">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluit</button>
        <button type="button" (click)="editGroup()" class="btn btn-primary" data-dismiss="modal">Wijzigingen opslaan</button>
      </div>
    </div>
  </div>
</div>



<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div *ngIf="adminLogged == true">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">ETZ Vragenlijst Dash</a>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Log uit</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Overzicht
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>..</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                ...
              </a>
            </li>

          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2 class="h2">Groepen</h2>
          <button type="button" class="btn btn-primary btn-lg float-right" data-toggle="modal" data-target=".modal-add">
            <i class="fa fa-plus"></i>
          </button>
        </div>

        <div *ngIf="!showScore">


          <ngx-datatable class="bootstrap" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40"
            [limit]="40" [rowHeight]="'auto'">
            <ngx-datatable-column name="Titel" [sortable]="true">

              <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                <span (click)="sort()" style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div [innerHTML]="row['name']"></div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actief" [sortable]="true">

              <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                <span style="cursor:pointer">
                  {{column.name}}
                </span>
              </ng-template>

              <ng-template let-row="row" ngx-datatable-cell-template>
                <p>{{row.Title}}
                  <input type="checkbox" id="{{row.Title}}" name="{{row.Title}}" [(ngModel)]="row.status" (change)="publishToggle(row.id,row.status)" />
                  <label for="{{row.Title}}"></label>
                </p>
              </ng-template>

            </ngx-datatable-column>


            <ngx-datatable-column name="Acties">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <div class="btn-group" style="border-radius: 10px; color: white" role="group" aria-label="Basic example">
                  <button (click)="showResult(row.id)" type="button" class="btn btn-primary">
                    <i class="fa fa-eye"> Bekijk</i>
                  </button>
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".modal-edit">
                    <i class="fa fa-edit"> Edit</i>
                  </button>
                </div>
              </ng-template>

            </ngx-datatable-column>

          </ngx-datatable>
        </div>

        <hr>
        <div *ngIf="showScore">
          <div class="container">
            <button type="button" (click)="showScore = false" class="btn btn-primary" data-toggle="modal">
              <i class="fa fa-arrow-left"> Terug naar Overzicht</i>
            </button>
            <button type="button" (click)="printResult()" class="btn btn-primary" data-toggle="modal">
                <i class="fa fa-print">Print resultaat</i>
              </button>
            <br>
            <br>
            <br>
            <h2>Score uitslag</h2>
            <br>
            <table style="float: left; height: 1028px;" cellpadding="10" width="100%">
              <tbody>
                <tr style="height: 22.8px;">
                  <td style="height: 22.8px;">&nbsp;</td>
                  <td class="table-success" style="height: 22.8px; width: 31.1082%;">
                    <b>Hoog</b>
                    <p class="western">
                      <span style="color: #222222;">
                        <span style="font-family: Arial, serif;">&nbsp;</span>
                      </span>
                    </p>
                    <p class="western">
                      <span style="color: #222222;">
                        <span style="font-family: Arial, serif;">3,75 of hoger</span>
                      </span>
                    </p>
                  </td>
                  <td class="table-warning" style="height: 22.8px">
                    <b>Midden</b>
                    <p class="western">
                      <span style="color: #222222;">
                        <span style="font-family: Arial, serif;">&nbsp;</span>
                      </span>
                    </p>
                    <p class="western">
                      <span style="color: #222222;">
                        <span style="font-family: Arial, serif;">3,25-3,74</span>
                      </span>
                    </p>
                  </td>
                  <td class="table-danger" style="height: 22.8px">
                    <p>
                      <b>Laag</b>
                    </p>
                    <p>
                      <br />3,24 of lager</p>
                  </td>
                </tr>
                <tr style="height: 22px;">
                  <td class="table-primary">&nbsp;
                    <b>Vertrouwen</b>
                  </td>
                  <td>Uw team heeft
                    <br />cre&euml;erde een omgeving
                    <br />waar kwetsbaarheid
                    <br />en openheid
                    <br />zijn de norm.</td>
                  <td>Uw team moet dit misschien
                    <br />meer comfortabel worden
                    <br />kwetsbaar zijn en
                    <br />open met elkaar
                    <br />over individuele sterke punten,
                    <br />zwakke punten, fouten en
                    <br />hulp nodig.</td>
                  <td>Jouw team mist
                    <br />noodzakelijke niveaus
                    <br />van openheid en
                    <br />kwetsbaarheid over
                    <br />individuele sterke punten,
                    <br />zwakke punten, fouten
                    <br />en hulpbehoeften.</td>
                </tr>
                <tr style="height: 22px;">
                  <td class="table-light">&nbsp;
                    <b>Conflict</b>
                  </td>
                  <td>Je team is comfortabel
                    <br />bezig zijn met
                    <br />ongefilterde discussie
                    <br />rond belangrijk
                    <br />onderwerpen.</td>
                  <td>Uw team moet dit misschien
                    <br />leer meer te doen
                    <br />ongefilterde discussie
                    <br />rond belangrijke onderwerpen.</td>
                  <td>Jouw team is dat niet
                    <br />comfortabel innemend
                    <br />in ongefilterd
                    <br />discussie rond
                    <br />belangrijke onderwerpen.</td>
                </tr>
                <tr style="height: 22px;">
                  <td class="table-primary">&nbsp;
                    <b>Commitment</b>
                  </td>
                  <td>Je team is in staat
                    <br />om in te kopen om te wissen
                    <br />beslissingen die weinig achterlaten
                    <br />ruimte voor ambigu&iuml;teit
                    <br />en tweede gissingen.</td>
                  <td>&nbsp;Uw team kan worstelen met
                    <br />tijden om in te kopen om te wissen
                    <br />beslissingen. Dit zou kunnen zijn
                    <br />het cre&euml;ren van ambigu&iuml;teit binnenin
                    <br />de organisatie.</td>
                  <td>Je team is niet in staat
                    <br />om in te kopen om te wissen
                    <br />beslissingen nemen, vertrekken
                    <br />ruimte voor ambigu&iuml;teit
                    <br />en tweede gissingen.</td>
                </tr>
                <tr style="height: 22px;">
                  <td class="table-light">&nbsp;
                    <b>Verantwoordelijk</b>
                  </td>
                  <td>Je team niet
                    <br />aarzel om te confronteren
                    <br />elkaar over
                    <br />prestaties en
                    <br />gedragsproblemen.</td>
                  <td>Uw team misschien wel
                    <br />aarzelend om te confronteren
                    <br />over prestaties
                    <br />en gedragsmatig
                    <br />bedenkingen.</td>
                  <td>Je team aarzelt
                    <br />om er een te confronteren
                    <br />een andere over
                    <br />prestaties en
                    <br />gedragsproblemen.</td>
                </tr>
                <tr style="height: 22px;">
                  <td class="table-primary">&nbsp;
                    <b>Resultaat</b>
                  </td>
                  <td>Je teamwaarden
                    <br />collectieve resultaten
                    <br />meer dan individueel
                    <br />herkenning en
                    <br />het bereiken van status</td>
                  <td>&nbsp;Leden van je team
                    <br />kan te veel plaatsen
                    <br />belang op individu
                    <br />of departementale herkenning
                    <br />en ego, in plaats van
                    <br />gericht op het collectief
                    <br />doelen van het team.</td>
                  <td>Uw team moet
                    <br />plaats meer waarde
                    <br />op het collectieve
                    <br />verwezenlijking van
                    <br />resultaten, in plaats van
                    <br />individueel of afdelingsgericht
                    <br />erkenning
                    <br />en ego.</td>
                </tr>
              </tbody>
            </table>
            <!-- DivTable.com -->

          </div>

          <!-- DivTable.com -->
        </div>



      </main>

    </div>
  </div>
</div>
